<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Best</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div class="aw-layout-page">
	
	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand  hidden-xs" href="#">
	        <img alt="BEST" />
	      </a>

	      <ul class="nav  navbar-nav">
	        <li>
	          <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
	        </li>
	      </ul>
	    </div>

	    <ul class="nav navbar-nav  navbar-right">
	    
	      <li>
	        <a href="#" class="js-search-modal-trigger-show"><i class="fa  fa-search"></i></a>
	      </li>
	      
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
	          <i class="fa  fa-envelope"></i> <span class="label  label-danger  aw-label-corner">48</span>
	        </a>
	                  
	        <ul class="dropdown-menu">
	          <li><a href="javascript:;">Item 1</a></li>
	          <li><a href="javascript:;">Item 2</a></li>
	        </ul>
	      </li>
	      
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	          <i class="fa  fa-user"></i>
	        </a>
	        
	        <ul class="dropdown-menu">
	          <li>
	            <div class="aw-logged-user">
	              <img src="https://api.adorable.io/avatars/80/joaodascouves" 
	                width="80" height="80" alt="João das Couves" class="aw-logged-user__picture" />
	              <span class="aw-logged-user__name">João das Couves</span>
	            </div>
	          </li>
	          <li role="separator" class="divider"></li>
	          <li><a href="#">Meu perfil</a></li>
	          <li><a href="#">Alterar senha</a></li>
	          <li><a href="#">Pagamentos</a></li>
	        </ul>
	      </li>
	      
	      <li>
	        <a href="#"><em class="fa  fa-sign-out"></em></a>
	      </li> 
	    </ul>

	  </div>
	</nav>
	
	<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">
	
	    	<nav class="aw-menu  js-menu">
	      		<ul class="aw-menu__list">
	        		<li class="aw-menu__item">
	          			<a th:href="@{/produtos/novo}">
	          				<i class="fa  fa-fw  fa-plus-circle"></i>
	          				<span>Nova bolsa</span>
	          			</a>
	        		</li>
	        		<li class="aw-menu__item">
	          			<a th:href="@{/produtos/novo}">
	          				<i class="fa  fa-fw  fa-plus-circle"></i>
	          				<span>Novo coordenador</span>
	          			</a>
	        		</li>
	        		<li class="aw-menu__item">
	          			<a th:href="@{/produtos/novo}">
	          				<i class="fa  fa-fw  fa-plus-circle"></i>
	          				<span>Novo bolsista</span>
	          			</a>
	        		</li>
	        		<li class="aw-menu__item">
	          			<a th:href="@{/produtos}">
	          				<i class="fa  fa-fw  fa-search"></i>
	          				<span>Consulta bolsa</span>
	          			</a>
	        		</li>
	        		<li class="aw-menu__item">
	          			<a th:href="@{/produtos}">
	          				<i class="fa  fa-fw  fa-search"></i>
	          				<span>Consulta coordenador</span>
	          			</a>
	        		</li>
	        		<li class="aw-menu__item">
	          			<a th:href="@{/produtos}">
	          				<i class="fa  fa-fw  fa-search"></i>
	          				<span>Consulta bolsista</span>
	          			</a>
	        		</li>
	      		</ul>
	    	</nav>
		</div>
	</aside>
	
	<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
	
	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2016 Françoes da Silva Pereira. Livre par uso.</span>
		</div>
	</footer>
</div>
<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>

</body>
</html>